<%- include('./layout/head') %>    
    <form action="/editar/<%= id %>" method="post"> 
    	<div class="input-field">
    		<label for="nome"> Nome</label>
    		<input id="nome" name="nome" type="text"  value="<%= contato.nome %>" >
    	</div>
    	<div class="input-field">
    		<label for="nome"> Email </label>
    		<input id="email" name="email" type="text" value="<%= contato.email %>">
    	</div>
    	<input type="submit" value="SALVAR" class="btn red">
    </form>
	<p> <a href="/ver/<%= id %>" class="btn"> VOLTAR </a></p>
    
<%- include('./layout/footer') %>
